<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adgyde.example">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	  <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/adgyde"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ExampleApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UniqueEvent" />
        <activity android:name=".CountingEvent" />
        <activity android:name=".ComputingEvent" />
        <activity android:name=".UserProfile"/>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".UserSignin"/>

        <!--DeepLinking-->
        <activity android:name="com.adgyde.android.DeepLinking"
            android:exported="true"
            android:noHistory="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.adgyde.com"
                    android:pathPattern="/index"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>


     <!--   <service android:name="com.adgyde.android.FIIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->


        <!--
         If application uses multiple INSTALL_REFERRER receivers, you should use
         com.adgyde.android.MultiInstallReceiver to replace com.adgyde.android.InstallReceiver.
         MultiInstallReceiver MUST be the first receiver before other receivers listening
         INSTALL_REFERRER.
       -->
        <!--
        REMOVE COMMENT TO USE MultiInstallReceiver. Remember to remove InstallReceiver.
        <receiver android:name="com.adgyde.android.MultiInstallReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name="com.adgyde.android.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="appkey"
            android:value="Your App Key" />

        <service
            android:name="com.adgyde.android.AppJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

    </application>

</manifest>